In [1]:
import torch
import torch.nn.functional as F
import torch.nn as nn
import numpy as np
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
input1 = torch.randn(1, 384)
input2 = torch.randn(1, 384)
cos = nn.CosineSimilarity(dim=0, eps=1e-6)
cos(input1, input2).mean()

tensor(0.0312)

In [3]:
df = pd.read_csv('./dataset_class/final_final_prompt.csv')
df

,image_name,prompt,fold,style_index
0,./dataset_class/data_folder/SDDB2_2M_75/SDDB2-...,"only memories remain, trending on artstation",1,149562
1,./dataset_class/data_folder/SDDB2_2M_75/SDDB2-...,a painting by edward hopper of a group of men ...,2,209980
2,./dataset_class/data_folder/SDDB2_2M_75/SDDB2-...,a painting by edward hopper of a glowing human...,3,160493
3,./dataset_class/data_folder/SDDB2_2M_75/SDDB2-...,a painting by edward hopper of the angel of de...,2,194815
4,./dataset_class/data_folder/SDDB2_2M_75/SDDB2-...,a painting by edward hopper of a group of four...,0,193190
...,...,...,...,...
218197,./dataset_class/data_folder/ChatGPT_SDDB2/chat...,A vintage photograph of a jazz band made up of...,4,177672
218198,./dataset_class/data_folder/ChatGPT_SDDB2/chat...,"A vibrant collage depicting a cyborg giraffe, ...",2,171345
218199,./dataset_class/data_folder/ChatGPT_SDDB2/chat...,A minimalist ink drawing of a yeti and a polar...,2,195483
218200,./dataset_class/data_folder/ChatGPT_SDDB2/chat...,A surrealist portrayal of a dreamy sky filled ...,1,82530
218201,./dataset_class/data_folder/ChatGPT_SDDB2/chat...,A lively scene of a roller-skating marathon wi...,0,145484

In [6]:
df.prompt[0]

'only memories remain, trending on artstation '

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 218202 entries, 0 to 218201
Data columns (total 4 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   image_name   218202 non-null  object
 1   prompt       218202 non-null  object
 2   fold         218202 non-null  int64
 3   style_index  218202 non-null  int64
dtypes: int64(2), object(2)
memory usage: 6.7+ MB

In [16]:
df = pd.read_csv('./dataset_class/final_downsample_prompt.csv')
df['style_index'] = -1

In [17]:
image_name_list = torch.load('style_image_name.pth')
embedding_list = torch.load('style_embedding_name.pth')

In [18]:
new_name, new_embedding, real_embedding = [], [], []
embedding_dict = {}
count = 0
for i in range(len(image_name_list)):
    for j in range(len(image_name_list[i])):
        new_name.append(image_name_list[i][j])
        real_embedding.append(embedding_list[i][j])
        new_embedding.append(count)
        count += 1

In [19]:
torch.save(real_embedding, 'embedding_table.pth')

In [20]:
embedding_dict = {k: v for k, v in zip(new_name, new_embedding)}

In [14]:
real_embedding[df.iloc[0, 3]]

array([-0.09813651, -0.03360796, -0.21888989, ...,  0.09342252,
       -0.0084492 , -0.4311523 ], dtype=float32)

In [21]:
for i in range(len(df)):
    df.iloc[i, 3] = embedding_dict[df.iloc[i, 0]]
df

,image_name,prompt,fold,style_index
0,./dataset_class/data_folder/SDDB2_2M_75/SDDB2-...,"only memories remain, trending on artstation",1,149562
1,./dataset_class/data_folder/SDDB2_2M_75/SDDB2-...,a painting by edward hopper of a group of men ...,2,209980
2,./dataset_class/data_folder/SDDB2_2M_75/SDDB2-...,a painting by edward hopper of a glowing human...,3,160493
3,./dataset_class/data_folder/SDDB2_2M_75/SDDB2-...,a painting by edward hopper of the angel of de...,2,194815
4,./dataset_class/data_folder/SDDB2_2M_75/SDDB2-...,a painting by edward hopper of a group of four...,0,193190
...,...,...,...,...
218197,./dataset_class/data_folder/ChatGPT_SDDB2/chat...,A vintage photograph of a jazz band made up of...,4,177672
218198,./dataset_class/data_folder/ChatGPT_SDDB2/chat...,"A vibrant collage depicting a cyborg giraffe, ...",2,171345
218199,./dataset_class/data_folder/ChatGPT_SDDB2/chat...,A minimalist ink drawing of a yeti and a polar...,2,195483
218200,./dataset_class/data_folder/ChatGPT_SDDB2/chat...,A surrealist portrayal of a dreamy sky filled ...,1,82530
218201,./dataset_class/data_folder/ChatGPT_SDDB2/chat...,A lively scene of a roller-skating marathon wi...,0,145484

In [22]:
df.to_csv('final_final_prompt.csv', index=False)

In [10]:
path_list = ['b', 'c', 'e', 'a', 'd']
df = pd.DataFrame(columns=['image_path', 'style_index'])
df['image_path'] = ['a', 'b', 'c', 'd', 'e']
df

  image_path style_index
0          a         NaN
1          b         NaN
2          c         NaN
3          d         NaN
4          e         NaN

In [3]:
test = torch.as_tensor([1,2,3,4,5])
test

tensor([1, 2, 3, 4, 5])

In [7]:
torch.save(test, 'test.pth')

In [16]:
embedding = torch.load('test.pth')
index_list = [i for i in range(len(embedding))]

In [17]:
embedding_dict = {k: v for k, v in zip(path_list, index_list)}

In [18]:
embedding_dict

{'b': 0, 'c': 1, 'e': 2, 'a': 3, 'd': 4}

In [19]:
for i in range(len(df)):
    df.iloc[i, 1] = embedding_dict[df.iloc[i, 0]]
df

  image_path style_index
0          a           3
1          b           0
2          c           1
3          d           4
4          e           2

In [20]:
embedding[df.iloc[1,1]]

tensor(1)

In [21]:
torch.save(embedding_dict, 'dict.pth')

In [22]:
torch.load('dict.pth')

{'b': 0, 'c': 1, 'e': 2, 'a': 3, 'd': 4}